@font-face {
	font-family: DXRigraf-SemiBold;
	src: url("./../fonts/DXRigraf-SemiBold.woff2") format("woff2"),
		url("./../fonts/DXRigraf-SemiBold.woff") format("woff"),
		url("./../fonts/DXRigraf-SemiBold.otf") format("opentype");
}
@font-face {
	font-family: DXRigraf-SemiBoldItalic;
	src: url("./../fonts/DXRigraf-SemiBoldItalic.woff2") format("woff2"),
		url("./../fonts/DXRigraf-SemiBoldItalic.woff") format("woff"),
		url("./../fonts/DXRigraf-SemiBoldItalic.otf") format("opentype");
}

:root {
	--black: #000;
	--white: #fff;
	--disabled: #01FDF6;
	--active: #2F52E0;
	--bad: #E63946;
	--modal-overlay: #0197F699;
}
* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	font: 18px/27px DXRigraf-SemiBold;
	background-color: var(--white);
}
main {
	max-width: 660px;
	margin: 0 auto;
	padding: 1rem;
}
h1  {
	font-size: 2rem;
	line-height: 3rem;
	margin-top: 0;
	margin-bottom: 1rem;
	color: var(--black);
}

form  {
	font-family: DXRigraf-SemiBoldItalic;
	display: flex;
	flex-direction: column;
}
.form-row {
	width: 100%;
	position: relative;
}
.form-row + .form-row {
	margin-top: 1rem;
}
.form-row.controls {
	text-align: center;
}
.form-row label {
	display: block;
	font-size: 1.3rem;
}
.form-row label span {
	color: var(--active);
}
input[type=text],
input[type=tel] {
	display: block;
	width: 100%;
	border: 0.2rem solid var(--black);
	color: var(--black);
	background-color: var(--white);
	height: 3.9rem;
	padding: 0.5rem 0.8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 1.2rem/2.6rem DXRigraf-SemiBold;
	transition: all 0.14s ease;
}
input[type=text].bad,
input[type=tel].bad {
	border-color: var(--bad);
}
.hint {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 0;
	text-align: center;
	padding: 0;
	background-color: var(--bad);
	color: var(--white);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.1s ease;
}

input.bad + .hint{
	top: -0.4rem;
	max-width: 60%;
	padding: 0.3rem 1rem;
}
.map {
	border: 0.2rem solid var(--black);
}
input.bad ~ .map {
	border-color: var(--bad);
}
input[type=submit] {
	border: 0.2rem solid var(--active);
	color: var(--active);
	background-color: var(--white);
	padding: 0.5rem;
	min-width: 55%;
	height: 3.9rem;
	font: 1.6rem/2.6rem DXRigraf-SemiBold;
	cursor: pointer;
	transition: all 0.24s ease;
}
input[type=submit]:hover {
	border-color: var(--active);
	color: var(--white);
	background-color: var(--active);
}
input[type=submit]:disabled {
	border-color: var(--disabled);
	background-color: var(--disabled);
	color: var(--white);
}

/* MODAL */
.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	z-index: 10;
	background-color: var(--modal-overlay);
	transition: all 0.4s 0.1s ease;
}
.modal.show {
	left: 0;
}
.modal .inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 70%;
	height: 60%;
	right: 15%;
	top: 20%;
	font-size: 2.3rem;
	text-align: center;
	opacity: 0;
	z-index: 20;
	color: var(--white);
	background-color: var(--black);
	transition: all 0.5s 0.1s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.modal.show .inner {
	opacity: 1;
}
.modal.show + main {
	filter: blur(2px);
}

/* YMAPS */
ymaps[class*="search__suggest"] {
	font: 1.2rem/2.6rem DXRigraf-SemiBold;
	border: 0.2rem solid var(--black);
	box-shadow: none !important;
}
ymaps[class*="search__suggest-item"],
ymaps[class*="search__suggest-highlight"] {
	border: none;
}
ymaps[class*="search__suggest-item_selected_yes"],
ymaps[class*="search__suggest-highlight"] {
	background: var(--active);
	color: var(--white);
}
ymaps[class*="search__suggest-highlight"] {
	background-color: var(--active);
}
ymaps[class*="balloon "] {
	border: 0.2rem solid var(--black);
	padding: 0;
	box-shadow: none !important;
}
ymaps[class*="balloon__tail"] {
	border: none;
	box-shadow: none !important;
	/* margin-bottom: -18px; */
}
ymaps[class*="balloon__tail"]::after {
	border: 0.2rem solid var(--black);
	box-shadow: none !important;
}
.formMapBalloon {
	font: 0.85rem/1.5rem DXRigraf-SemiBold;
}
.formMapBalloon h3{
	font-family: DXRigraf-SemiBoldItalic;
}